* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

/* Header */
.AppNavbar {
  background:#222;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Operator Mono'
}

#navItem-store {
  display: flex !important;
  justify-content: space-between !important;;
}

#store-icon {
  width: 50px !important;
  height: 50px !important;
  background: crimson !important;
  border-radius: 2rem;
  color: #fff;
  text-align: center;
  align-items: center !important;
  padding-top: .4em;
}

/* Home & Dashboard */


/* Todos */
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}